apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: wordpress-ingress
  annotations: {
    kubernetes.io/ingress.class: nginx,
    certmanager.k8s.io/issuer: "letsencrypt-{{ deployment_state }}",
  }
spec:
  tls:
  - hosts:
    - {{ wordpress_domain }}
    secretName: wordpress-tls
  rules:
  - host: {{ wordpress_domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: wordpress
          servicePort: 8443